.resouce-title:hover span {
  width: 100%;
}

.resouce-title span {
  transition: 0.2s;
  animation: resour-title 1s 1 cubic-bezier(0.26, 0.88, 0.51, 1.29);
}
@keyframes resour-title {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
/* 
.resource-class.moderator {
} */
.resource-class.moderator .action-box {
  width: 0px;
  height: 100%;
  transition: 0.3s;
  overflow: hidden;
}
.resource-class.moderator:hover .action-box {
  width: 30px;
}

.message-box {
  position: relative;
  animation: messsage-anm 5s cubic-bezier(0.61, 0.14, 0.41, 1.12);
  /* left: -110%; */
}
@keyframes messsage-anm {
  0% {
    right: 0;
  }
  10% {
    right: -310px;
  }
  90% {
    right: -310px;
  }
  100% {
    right: 0;
  }
}

.message-box span {
  animation: messag-timer 4.5s linear 1;
  width: 0%;
}
@keyframes messag-timer {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
