:root {
  --transparent: #0000009e;
}

.resouce-title:hover span {
  width: 100%;
}

.resouce-title span {
  transition: 0.2s;
  animation: resour-title 1s 1 cubic-bezier(0.26, 0.88, 0.51, 1.29);
}
@keyframes resour-title {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
/* 
.resource-class.moderator {
} */
.resource-class.moderator .action-box {
  width: 0px;
  height: 100%;
  transition: 0.3s;
  overflow: hidden;
}
.resource-class.moderator:hover .action-box {
  width: 30px;
}

.message-box {
  position: relative;
  animation: messsage-anm 5s cubic-bezier(0.61, 0.14, 0.41, 1.12);
  /* left: -110%; */
}
@keyframes messsage-anm {
  0% {
    right: 0;
  }
  10% {
    right: -350px;
  }
  90% {
    right: -350px;
  }
  100% {
    right: 0;
  }
}

.message-box span {
  animation: messag-timer 4.5s linear 1;
  width: 0%;
}
@keyframes messag-timer {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.delete-modal {
  z-index: -100;
  opacity: 0;
  transition: 0.3s;
}
.delete-modal.active {
  z-index: 10000;
  opacity: 1;
}

.drop-box {
  scale: 1;
  transition: 0.7s;
  background: #1500ff00;
}
.drop-box.on-drop {
  scale: 1.04;
  background: #1400ff8f;
}

.button-load.is-hidden {
  display: none !important;
}

/* button loader*/
.button-loader {
  display: none;
}
.button-chech {
  display: block;
}

[set-load="true"] .button-loader {
  display: block;
}

[set-load="true"] .button-chech {
  display: none;
}

.btn {
  padding: 7px 14px;
  border-radius: 10px;
  transform: 0.3s;
  text-align: center;
}
.btn:hover {
  opacity: 0.75;
}

/* utils */
.my-resource-card img {
  transition: 0.3s;
  scale: 1;
}
.my-resource-card:hover img {
  scale: 1.05;
}

/* resource */
.resource-departments img {
  scale: 1;
  transition: 0.3s ease-in-out;
}
.resource-departments:hover img {
  scale: 1.05;
}

/* card text hiddener */

.quarter {
  position: relative;
  transition: 0.2s;
}
.quarter.active {
  @apply text-primary;
}

.quarter::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  display: block;
  @apply bg-primary;
  bottom: -3px;
  transition: 0.2s;
}

.quarter:hover::before {
  width: 100%;
}

.quarter.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  @apply bg-primary;
  bottom: -3px;
}

.quarter:hover {
  @apply text-primary;
}

.quarter:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  @apply bg-primary;
  bottom: -3px;
}
